@icons-social: fb, twitter, vk, instagram;
@app-markets: google, apple;

.footer {
    background: @color-dark;
    color: @color-light-grey;

    &__social-icons {
        display: flex;
        padding-top: 30px;
        @media @screen-gt-s {
            flex: 1;
            box-sizing: border-box;
        }
        each(@icons-social, {
            .footer-button-icon_@{value} {
                background-image: url('@{value}.svg');
                width: 36px;
                height: 36px;
                margin-left: 8px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        })
    }
    &__mobile-markets {
        padding: 30px 0;
        margin-left: 15px;
        display: flex;
        @media @screen-gt-s {
            flex: 1;
            box-sizing: border-box;
        }
    }

    &__mobile-images {

        flex: 1;
        each(@app-markets, {
            &_@{value} {
                background-image: url('/images/apps/@{value}.svg');
                height: 40px;
                width: 140px;
                margin-left: 8px;
                border-color: @color-white;
                border-width: 1px;
                border-style: solid;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        })
    }
    &__logo {
        display: none;
        @media @screen-gt-m {
            display: flex;
            box-sizing: border-box;
            align-content: flex-end;
            flex-direction: row-reverse;
        }
    }
    .logo-gray {
        align-self: center;
        flex-flow: column;
    }
    &__line {
        background-color: @color-grey;
        margin-top: 15px;
    }

    &__copyright {
        padding: 35px 0;
    }
}
