.section-carousel {
    padding: 30px 0;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    .carousel {
      position: relative;
      box-sizing: border-box;
      min-width: 320px;
      padding: 0 15px;
      height:100%;

    .carousel_slide {
      display: flex;
      text-align: center;
      flex-direction: column-reverse;

      &__image-contaier {
        flex: 0 0 1;
      }

      &__image {
        width: 100%;
      }

      &__text-container {


        button {
          padding: 9px 15px;
          color: #FFFFFF;
          background: #0F8FEE;
          border-radius: 1px;
        }
      }
    }
    .carousel_page {
        position: absolute;
        height: 8px;
        display: flex;
        align-content: center;
        top:50%;

        &__round {
          border-radius: 8px;
          margin: 0 2px;
          width: 8px;
          height: 8px;
          background-color: #DFDEDD;
        }
        &__active {
          background-color: #212122;
        }
        &__fill {
          flex:1;
        }
    }
  }
}
